*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    border: 10px solid #83456f;

    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);

    justify-items: stretch;
    align-items: end;
}

.item{
    padding: 10px;
    background-color: #a45a8d;
    color: white;
    border: 10px solid #3d1a32;
}

.item-1{
    justify-self: center;
    align-self: start;
}
