.booking-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 0;
    row-gap: 20px;
    column-gap: 20px;
    border-bottom: var(--cinza-ddd) solid 1px;
}

.booking-item{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}

.booking-requirement-text h4{
    margin-bottom: 5px;
}

.booking-requirement-text p{
    color: #6A6A6A;
    font-size: 1rem;
}

.little{
    display: flex;
    justify-content: flex-start;
    width: 66%;
    padding: 32px 0;
}

.little p{
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6A6A6A;
}

.little p a{
    text-decoration: underline;
    color: #6A6A6A;
}

.schedule-rules{
    border-top: var(--cinza-ddd) solid 1px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 48px 0;
}

.schedule-rules h3{
    font-size: 1.3rem;
}

.rule-box-box{
    display: flex;
    gap: 200px;
}

.rule-box{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.rule-box a{
    color: var(--font-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:10px;
}

.rules{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.rule-link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rule-link::before{
    content: 'Mostrar mais';
}

@media screen and (max-width: 750px) {
    .booking-grid{
        grid-template-rows: repeat(3, auto-fit);
        grid-template-columns: 100%;
    }

    .booking-item{
        flex-direction: row;
        gap: 20px;
    }

    .booking-item p{
        font-size: 0.875rem;
    }

    .booking-item svg{
        width: 22px !important;
        height: 22px !important;
    }
}

@media screen and (max-width: 650px){
    .schedule-rules{
        padding: 0;
    }
    
    .schedule-rules h3{
        display: none;
    }

    .rule-box-box{
        flex-direction: column;
        gap: 0;
    }

    .rule-box{
        padding: 24px 0;
    }

    .rule-box p{
        color: #6A6A6A;
        font-size: 0.875rem;
    }

    .rule-box:first-child{
        border-bottom: var(--cinza-ddd) solid 1px;
    }

    .rule-link::before{
        content: 'Ver mais';
    }

    .rules h4{
        font-size: 1.2rem;
    }
}