@import url("../css/fonts.css");

* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

section{
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100vw;
}

/* ::-webkit-scrollbar {
    display: none;
} */

:root{
    --vermelho-airbnb: #ff385c;
    --cinza-user: #6a6a6a;
    --cinza-menu: #f0f0f0;
    --cinza-ddd: #dddddd;
    --font-color: #222222;


    --margem-responsivo-1280: 86%;
    --margem-responsivo-1800: 60%;
    --margem-responsivo-1400: 83%;
}