section{
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100vw;
}

.maps-title{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 24px;
}

.maps-title h2{
    font-size: 21px;
}

.map{
    width: 100%;
    height: 480px;
}