@import url("../../../public/css/global.css");
@import url("../../../public/css/nav.css");
@import url("../../../public/css/room-info.css");
@import url("../../../public/css/maps.css");
@import url("../../../public/css/iconic.css");
@import url("../../../public/css/booking.css");
@import url("../../../public/css/footer.css");
@import url("../../../public/css/carousel.css");

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100vw;
}

.title{
    font-size: 1.65rem;
	font-weight: bolder;
}

.container{
    width: 75%; 
    font-family: AirbnbFont;  
    max-width: 1120px;
    color: var(--font-color)
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 20px;
}

.links{
    display: flex;
    gap: 20px;
}

.box-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-text{
    display: flex;
    gap: 8px;
    text-decoration: underline;
    color: black;
    font-size: 0.9rem;
    align-items: center;
}

.grid-photos{
    display: grid;
    grid-template-rows: 280px 280px;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 20px;
    gap: 7px;
    margin-bottom: 30px;
    position: relative;
}

.grid-photos div{
    width: 100%;
    height: 100%;
	background-color: black;
}

.grid-photos img{
    width: 100%;
    max-width: 1120px;
    height: 100%;
    object-fit: cover;
	cursor: pointer;
}

.grid-photos img:hover{
	opacity: 90%;
}

.show-more{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    position:absolute;
    bottom: 25px;
    right: 25px;
    padding: 7px 15px;
    border-radius: 8px;
    border: solid black 1px;
    background-color: white;
    font-family: AirbnbFont;
    font-size: 0.875rem;
    cursor: pointer;
    color: var(--font-color);
    font-weight: bold;
}

.img1{
    grid-row: span 2;
    grid-column: span 2; 
	border-radius: 15px 0 0 15px;
}

.img1 img{
    border-radius: 15px 0 0 15px;
}

.img3{
	border-radius: 0 15px 0 0;
}

.img3 img{
	border-radius: 0 15px 0 0;
}

.img5{
	border-radius: 0 0 15px 0;
}

.img5 img{
    border-radius: 0 0 15px 0;
}

@media screen and (min-width: 1550px){
    .container{
        width: var(--margem-responsivo-1800);
    }
}

@media screen and (max-width: 1550px){
    .container{
        width: var(--margem-responsivo-1280); 
    }
}

@media screen and (max-width: 860px){
    .nav{
        display:none;
    }

    .grid-photos{
        display: none;
    }

    .booking-info{
        display: none;
    }

    .links{
        display: none;
    }
}

/* Next responvivity is aproaching to 1100px */